<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<title>Census 2022</title>
	<style>
		main {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.container-list-takers h1 {
			text-align: center;
		}

		.card-header {
			padding: 0.5em;
			display: flex;
			align-items: center;
			gap: 0.5em;
		}
		.card {
			margin-bottom: .5em;
		}

	</style>
</head>
<body>
	<main>
		<section class="container-list-takers">
			<h1>Create takers</h1>
			<div class="card" style="width: 18rem;">
				<div class="card-header">
					<input class="form-control" placeholder="Name" id="inputTakerName"/>
					<button type="button" class="btn btn-primary" id="btnAddTaker">Add</button>
				</div>
				<ul class="list-group list-group-flush" id="ul-takers">
				</ul>
			</div>
			<div class="d-grid">
				<a class="btn btn-success btn-create" id="btn-create">Create</a>
			</div>
		</section>
	</main>



	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	<script>
		const listTakers = [];
		const inputTakerName = document.getElementById("inputTakerName");
		const btnAddTaker = document.getElementById("btnAddTaker");
		const btnCreate = document.getElementById("btn-create");

		btnCreate.addEventListener('click', () => {
			const location = window.location.hostname;
			const endpoint = location === 'localhost' ? `http://${location}:8080/ratios` : `https://${location}/ratios`;
			create(listTakers)
					.then(() => window.location.replace(endpoint))
					.catch(() => alert("ERROR!"))
		})

		btnAddTaker.addEventListener('click', () => {
			if(inputTakerName.value !== ''){
				let valueInputTakerName = inputTakerName.value.trim();
				addTakerToHTML(valueInputTakerName);
				addTakerToList(valueInputTakerName);
				inputTakerName.value = "";
				inputTakerName.focus();
			}
		})

		function addTakerToHTML(name) {
			let takerNodeHTML = document.createElement("li");
			takerNodeHTML.classList.add("list-group-item");
			takerNodeHTML.innerHTML = `${name}`;

			const ulTakers = document.getElementById("ul-takers");
			ulTakers.appendChild(takerNodeHTML);
		}

		function addTakerToList(name) {
			listTakers.push(name);
		}

		async function create(listNames) {
			const location = window.location.hostname;
			const endpoint = location === 'localhost' ? `http://${location}:8080/api/takers` : `https://${location}/api/takers`;
			const requestBody = JSON.stringify(listNames);
			const settings = {
				method: 'POST',
				body: requestBody,
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json',
				}
			};

			try {
				const fetchResponse = await fetch(endpoint, settings);
				return await fetchResponse.json();
			} catch (e) {
				return e;
			}
		}

	</script>
</body>
</html>