<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Census 2022</title>
	<link crossorigin="" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
	      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
	      rel="stylesheet"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script crossorigin=""
	        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
	        src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
</head>
<style>

	#map {
		height: 500px;
		width: 70%;
		margin: auto;
	}

	main {
		background-color: #f8f9fa!important;
		padding-bottom: 2em;
	}
</style>
<body>
<main>
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">Ratio Generated</h1>
				<p class="lead text-muted">Datos obtenidos correctamente, haga click en los marcadores para saber cual censista fue asignado a esa manzana.</p>
			</div>
		</div>
	</section>
	<div id="map"></div>
</main>
<footer class="text-muted py-5">
	<div class="container">
		<p class="mb-1">2022 &copy;<br>Francisco Ruiz<br>Ezequiel Villafañe<br>Nicolás Sassoni</p>
		<p class="mb-0"></p>
	</div>
</footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
	const map = L.map('map').setView([-34.5231018, -58.7026663], 15);

	window.addEventListener('load', async () => {
		loadMap();
		generateRatio().then(() => findRatio().then(ratio => addMarksToMap(ratio)));
	});

	async function generateRatio() {
		const location = window.location.hostname;
		const endpoint = `http://${location}:8080/api/ratios`;
		const settings = {
			method: 'POST',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json',
			}
		};
		try {
			const fetchResponse = await fetch(endpoint, settings);
			return await fetchResponse.json();
		} catch (e) {
			return e;
		}
	}

	async function findRatio() {
		const location = window.location.hostname;
		const endpoint = `http://${location}:8080/api/ratios`;
		const settings = {
			method: 'GET',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json',
			}
		};
		try {
			const fetchResponse = await fetch(endpoint, settings);
			return await fetchResponse.json();
		} catch (e) {
			return e;
		}
	}

	function loadMap() {
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);
	}

	function addMark(map, marker, name) {
		if (name == null){
			L.marker(marker).addTo(map);
		} else {
			L.marker(marker).addTo(map)
					.bindPopup(`Taker Name: <br> ${name}`);
		}
	}

	function addMarksToMap(marks) {
		console.log(marks)
		marks.forEach(mark => console.log(mark));
		marks.forEach(mark => addMark(map, [mark.latitude, mark.longitude], mark.taker.name));
	}
</script>
</body>
</html>